<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <title>Question 3</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="chartcontianer">
            <a href="/1" class="item1"> <p>Chart1</p> </a>
            <a href="/2"class="item2" > <p>Chart2</p> </a>
            <a href="/3"class="item3"> <p>Chart3</p> </a>
            <a href="/4"class="item4"> <p>Chart4</p> </a>
            <a href="/5"class="item5"> <p>Chart5</p> </a>
    </div>
    <script>
        window.data = <%- getExtraRunsPerTeam %>
        console.log(JSON.stringify(window.data));
        console.log((window.data));
    </script>
    <script src="chart3.js"></script>
</body>

</html>